/* CSS Document */

* {
  margin: 0;
  padding: 0;
}

.logobox img {
  width: 200px;
}

#container {
  /*text-align: center;*/

  background-image: url("../images/10.jpg");
  height: 90vh;
  background-size: fill;
  background-position: bottom;
}

.heading {
  position: absolute;
  text-transform: uppercase;
  color: white;
  left: 35%;
  top: 30%;
  text-align: center;
  transform: translate(-50% -50%);
}

.primehead {
  letter-spacing: 10px;
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Caveat", cursive;
}

.secondhead {
  letter-spacing: 5px;
}
