@charset "utf-8";
/* CSS Document */

div.alignleft {
  float: left;
}

li {
  float: left;
  width: 150px;
  height: 50px;
  margin: auto;
  color: yellow;
}

div[class="container"] {
  margin: auto;
  width: 1200px;
}

#header {
  background-color: red;
  width: 1200px;
  height: 70px;
}

#aside {
  background-color: green;
  width: 150px;
  height: 650px;
}

div[id="content"] {
  background-color: yellow;
  width: 1050px;
  height: 650px;
}

div[id="footer"] {
  background-color: blue;
  width: 1200px;
  height: 100px;
}
