/* CSS Document */


*{ margin: 0; padding: 0;}

body{
    margin:20px;
}

form{  margin:auto;}

.form-groups{
    width: 100%;
    padding: 7px 20px;
    box-sizing: border-box;
    border: 2px solid darkviolet;
    border-radius: 5px;
}

.form-groups:focus{
   
    outline: 3px rgb(9, 255, 0) dashed;
}

.common{ margin-bottom: 10px;}



label{ display:inline-block; }

.button{
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 8px;
    color: aqua;
    border: double lime 3px;
    background-color: darkred;
}

.button:hover{ background-color: aqua; color: darkred; border-color: black;}
