/* CSS Document */

*{ text-transform: capitalize;}

table{ margin: auto; border-collapse: collapse; width:  80%}

table td, table th{ border:3px solid #FF0000;  padding: 6px;}

table td[colspan]{ text-align: center;}

table tr:nth-child(even){ background-color: #BCBCBC;}

table tr:hover{ background-color: cyan;}


hr{border: 10px solid red; color: aquamarine; width: 100%;}


table th{ background-color:steelblue; text-align: center !important; font-weight: bolder; }


table.purple th{ color: purple;}

table.gold th{ color: gold;}


